{{define "footer"}}
  </div><!-- .container -->
	<div id="footer">
		<div class="container">			
			<br>
			<p class="text-muted">&copy; {{now.Year}} Gin Blog Boilerplate
		</div>
	</div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/public/js/application.js"></script>
  </body>
</html>
{{end}}
