{{define "footer"}}
  </div><!-- .container -->
	<div id="footer">
		<div class="container">						
			<p class="text-muted">&copy; {{now.Year}} Gin Blog Boilerplate
		</div>
	</div>

	{{if .Csrf}}
		<script type="text/javascript">window.csrf_token="{{.Csrf}}";</script>
	{{end}}    
  </body>
</html>
{{end}}
