html {
	position: relative;
	min-height: 100%;
	padding-top: 70px;
}

body {
	margin-bottom: 60px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
  z-index: 10;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {		
	border: 2px solid #62c462;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {		
	border: 2px solid #ee5f5b;
}

.parsley-errors-list {
	margin: 8px 0 3px 0;
	padding: 0;
	list-style-type: none;
	line-height: 0.9em;
	font-size: 0.9em;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;

	transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in-;
	-moz-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
}

.parsley-errors-list.filled {
	opacity: 1;
}

#sidebar-dashboard {
  position: fixed;
  width: 210px;
  float: left;
  height: auto;
  left: 5px;
  bottom: 0;
  top: 0;
  padding: 50px 0 70px;
  z-index: 2;
}

#sidebar-dashboard + #main-column {
  margin-left: 215px;
  overflow: hidden;
}

#sidebar-dashboard h5 {
  padding: 10px 15px;
  font-weight: bold;
}

#sidebar {
  width: 210px;
  float: right;
}

#sidebar + #main-column {
  margin-right: 225px;
  overflow: hidden;
}

#sidebar h5 {
  font-weight: bold;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table .id, .table .actions, .table .published, .table .timestamp, .table .author {
  text-align: center;
  width: 1%;
  white-space: nowrap;
}

.inline-block {
  display: inline-block;
}

.navbar .glyphicon {
  color: #333;
}

.navbar-dashboard {
  background-color: #eee;
}
.navbar-dashboard .navbar-brand {
  width: 210px;
  color: #333;
  background-color: #eee;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-dashboard .navbar-brand:hover {
  color: #555;
  background-color: #eee;
}

.navbar-dashboard .navbar-brand .glyphicon {
  color: #333;
}

.user-info {
  margin-top: 20px;
}

.user-info h5 {
  padding: 0!important;
}

.user-info .glyphicon-user {
  float: left;
  font-size: 20px;
  color: #337ab7;
  margin-right: 10px;
}
.user-info .email {
  margin-top: 10px;
  font-size: 13px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  width: 175px;
  display: inline-block;
}

#sidebar-dashboard .nav li {
}
#sidebar-dashboard .nav li a{
  transition: background;
  transition-duration: 0.4s;
}
.glyphicon.indent {
  margin-right: 0.5em;
}
.post-info {
  font-size: 90%;
}
.post-info-item {
  margin-right: 1em;
}
