{{define "errors/404"}}
{{template "header" .}}
{{template "navbar" .}}
<div class="container" role="main">		
  <div class="jumbotron">
    <h1>404 Error</h1>
    <div class="description">
      <i class="glyphicon glyphicon-exclamation-sign indent"></i>
      Oops, page not found!
    </div>
  </div>
</div>
{{template "footer" .}}
{{end}}
