@import "./my_variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/select2/dist/css/select2.css";
/* @import "../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss"; */

html {
  position: relative;
  min-height: 100%;
  padding-top: 80px;
}

body {
  margin-bottom: 60px;
  background: #f8f8f8;
  &>.container {
    padding-bottom: 15px;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  z-index: 10;
}

textarea.form-control {
  min-height: 7em;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  border: 2px solid #62c462;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  border: 2px solid #ee5f5b;
}

.parsley-errors-list {
  margin: 8px 0 3px 0;
  padding: 0;
  list-style-type: none;
  line-height: 0.9em;
  font-size: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in-;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

#sidebar-dashboard {
  height: auto;
  padding: 50px 0 70px;
  z-index: 2;
  h5 {
    padding: 10px 15px;
    font-weight: bold;
  }
  .nav li {
    a {
      transition: background;
      transition-duration: 0.4s;
    }
  }
}

#sidebar {
  width: 210px;
  float: right;
  &+#main-column {
    margin-right: 225px;
    overflow: hidden;
  }
  h5 {
    font-weight: bold;
  }
  .svg-inline--fa,
  .fa {
    min-width: 35px;
  }
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table {
  .shrink {
    white-space: nowrap;
    width: 1px;
    text-align: center;
  }
}

.inline-block {
  display: inline-block;
}

.navbar .fa {
  color: #333;
}

.navbar-dashboard {
  background-color: #eee;
  .navbar-brand {
    width: 210px;
    color: #333;
    background-color: #eee;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
      color: #555;
      background-color: #eee;
    }
    .fa {
      color: #333;
    }
  }
}

.user-info {
  margin-top: 20px;
  h5 {
    padding: 0 !important;
  }
  .fa-user {
    float: left;
    font-size: 20px;
    color: #337ab7;
    margin-right: 10px;
  }
  .email {
    margin-top: 10px;
    font-size: 13px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    width: 175px;
    display: inline-block;
  }
}

.post-info {
  font-size: 90%;
  margin: 15px 0 25px 0;
  padding: 5px 10px;
}

.post-info-item {
  margin-right: 1em;
}

.auth-card {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.ck-content {
  min-height: 20em;
}

.flex-column.nav-pills {
  .svg-inline--fa {
    min-width: 25px;
  }
}

.btn-sm {
  .svg-inline--fa,
  .fa {
    min-width: 15px;
  }
}

.sidebar-tags {
  .nav-link {
    padding: 0.5rem 0 0.5rem 1rem;
  }
}

.comment {
  margin-bottom: 20px;
  .text-muted {
    font-weight: normal;
  }
  .card {
    padding: 10px;
    border: none;
  }
}

.public-comment {
  margin-bottom: 15px;
}