{{define "archives/show"}}
{{template "header" .}}
{{template "navbar" .}}
<div class="container" role="main">
  {{template "sidebar" .}}
  <div id="main-column">
    <h2>{{.Title}}</h2>
    {{range .Posts}}
      <h3><a href="{{.URL}}">{{.Title}}</a></h3>
      {{template "posts/post-info" .}}
      <div class="excerpt">{{.Excerpt}}</div>
    {{end}}
  </div>
</div>
{{template "footer" .}}
{{end}}
