{
  "debug": {
    "public": "public",
    "session_secret": "session-secret-phrase",
    "signup_enabled": true,
    "database": {
      "host": "192.168.0.1",
      "name": "ginbasic_dev",
      "user": "your_db_user",
      "password": "your_db_user_password"
    }
  },
  "release": {
    "public": "path_to_public_dir",
    "session_secret": "session-secret-phrase",
    "signup_enabled": false, 
    "database": {
      "host": "192.168.0.1",
      "name": "ginbasic_dev",
      "user": "your_db_user",
      "password": "your_db_user_password"
    }
  },
  "test": {
    "public": "public",
    "session_secret": "session-secret-phrase",
    "signup_enabled": true,
    "database": {
      "host": "192.168.0.1",
      "name": "ginbasic_dev",
      "user": "your_db_user",
      "password": "your_db_user_password"
    }
  }
}
