{{define "pages/show"}}
{{template "header" .}}
{{template "navbar" .}}
<div class="container" role="main">
  {{template "sidebar" .}}
  <div id="main-column">
    <h2>{{.Page.Title}}</h2>
    <div class="content">{{noescape .Page.Content}}</div>
  </div>
</div>
{{template "footer" .}}
{{end}}
