{{define "users/form"}}
{{template "header" .}}
{{template "dashboard/navbar" .}}
{{template "dashboard/sidebar" .}}
<div id="main-column" class="container-fluid" role="main">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" method="post" data-parsley-validate>
      <fieldset>
        <legend>{{.Title}}</legend>
        {{range .Flash}}
          <div class="alert alert-danger">{{.}}</div><p>
        {{end}}
        <input type="hidden" name="id" value="{{.User.ID}}" >

        <div class="form-group">
          <label class="col-md-2 control-label" for="name">Name</label>
          <div class="col-md-10">
            <input id="name" name="name" value="{{.User.Name}}" placeholder="User name" class="form-control input-md" required="" data-parsley-required-message="Please enter user name">    
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="email">Email</label>
          <div class="col-md-10">
            <input id="email" name="email" value="{{.User.Email}}" placeholder="User email" class="form-control input-md" required="" data-parsley-required-message="Please enter user email">    
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="password">Password</label>
          <div class="col-md-10">
            <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="" data-parsley-required-message="Please enter user password">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="passwordrepeat">Repeat password</label>
          <div class="col-md-10">
            <input id="passwordrepeat" name="passwordrepeat" type="password" placeholder="Repeat password" class="form-control input-md" required="" data-parsley-required-message="Please repeat user password" data-parsley-equalto="#password" data-parsley-equalto-message="Passwords do not match">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Submit">
            <input type="button" class="btn btn-default" formnovalidate onclick="window.history.back();" value="Cancel">
          </div>
        </div>
      </fieldset>
      </form>
    </div>
  </div>
</div>
{{template "footer" .}}
{{end}}
